# =========================
# Local config / secrets
# =========================
setting.json
settings.json
.env
*.env

# =========================
# Editor / OS
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# =========================
# Python virtual env
# =========================
venv/
.venv/
env/

# =========================
# ByteTrack / YOLO datasets
# =========================
bytetrack/datasets/
bytetrack/Smart_Hungarian_iou_state_based/MOT17/
bytetrack/Smart_Hungarian_iou_state_based/TrackGuard 1.1 - Analyzers Based/mot/MOT17/

# =========================
# Model weights / large model files
# =========================
bytetrack/pretrained/
bytetrack/weights/
bytetrack/models/*.pth
bytetrack/models/*.pt
bytetrack/models/*.onnx
bytetrack/models/*.engine
bytetrack/models/*.trt
bytetrack/Model/
bytetrack/Smart_Hungarian_iou_state_based/models/
bytetrack/Smart_Hungarian_iou_state_based/TrackGuard 1.1 - Analyzers Based/mot/Model/

# =========================
# Videos / media inputs
# =========================
bytetrack/videos/
*.mp4
*.avi
*.mov
*.mkv

# 如果你有測試影片資料夾
test_videos/


# =========================
# Runtime outputs / prediction results
# =========================
runs/
bytetrack/runs/
bytetrack/results/
bytetrack/results_iou_smart_hungarian/
bytetrack/results_pure_smart_hungarian/
bytetrack/Smart_Hungarian_iou_state_based/results/
bytetrack/Smart_Hungarian_iou_state_based/results_iou_smart_hungarian/
bytetrack/Smart_Hungarian_iou_state_based/results_pure_smart_hungarian/
bytetrack/Smart_Hungarian_iou_state_based/TrackGuard 1.1 - Analyzers Based/mot/results_trackguard_statebased_twostage_sha/

# =========================
# Logs / event outputs
# =========================
forensic_logs/
log_terminal/
trackguard_events/
trackguard_snapshots/
*.log

# =========================
# Backup / temporary folders
# =========================
backup/
bytetrack/Smart_Hungarian_iou_state_based/TrackGuard 1.1 - Analyzers Based/mot/backup/


trackguard/bytetrack/Smart_Hungarian_iou_state_based/MOT17
trackguard/bytetrack/Smart_Hungarian_iou_state_based/TrackGuard 1.1 - Analyzers Based/mot/MOT17
yolo_data
*.json
*.pt
log.txt
.gitignore
LTE-TrackGuard_screenshot_27.05.2026.png
log.txt
log.txt
*.txt
